.navbar {
    padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1F2937;
}

.logo {
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
}